In [1]:
import pandas as pd

# Load data
df = pd.read_csv("student_scores.csv")

# Calculate average score
df['Average'] = df[['Maths', 'Science', 'English', 'History', 'Art']].mean(axis=1)

# Top performers
top_students = df.sort_values(by="Average", ascending=False).head(5)

print("ğŸ“Š First 5 records:\n", df.head())

# Overall subject-wise average
subject_averages = df[['Maths', 'Science', 'English', 'History', 'Art']].mean()
print("\nğŸ“š Subject-wise Average Marks:\n", subject_averages)

# Top 5 students by average
print("\nğŸ† Top 5 Students by Average Score:\n", top_students[['StudentID', 'Name', 'Average']])

# Students scoring below 40 in any subject
low_scores = df[(df[['Maths', 'Science', 'English', 'History', 'Art']] < 40).any(axis=1)]
print(f"\nâš ï¸ Students with below 40 marks in any subject ({len(low_scores)} students):\n", low_scores[['StudentID', 'Name']])

ğŸ“Š First 5 records:
   StudentID    Name  Maths  Science  English  History  Art  Average
0      S100   Arjun     34       81       86       59   48     61.6
1      S101   Divya     71       74       46       44   97     66.4
2      S102   Rahul     33       74       38       44   95     56.8
3      S103   Sneha    100       49       37       83   59     65.6
4      S104  Vikram     69       51       79       46   49     58.8

ğŸ“š Subject-wise Average Marks:
 Maths      65.366667
Science    68.933333
English    56.066667
History    68.133333
Art        61.300000
dtype: float64

ğŸ† Top 5 Students by Average Score:
    StudentID     Name  Average
6       S106  Karthik     78.8
15      S115    Meena     74.0
20      S120    Gokul     73.8
24      S124   Balaji     73.8
10      S110     Ravi     73.0

âš ï¸ Students with below 40 marks in any subject (21 students):
    StudentID       Name
0       S100      Arjun
2       S102      Rahul
3       S103      Sneha
6       S106    Karthik
7       S107  Aishwarya
8       S108      Manoj
9       S109      Anita
11      S111    Lakshmi
12      S112     Suresh
13      S113      Deepa
14      S114     Naveen
15      S115      Meena
16      S116      Vijay
17      S117      Pooja
20      S120      Gokul
22      S122       Ajay
25      S125    Sandhya
26      S126     Ramesh
27      S127     Anjali
28      S128      Surya
29      S129    Lavanya